streamlit
requests
fastapi
uvicorn
transformers
pandas
scikit-learn
numpy
uvicorn[standard]
python-multipart
openai
langchain
langchain-openai
langchain-community
faiss-cpu
chromadb
pillow
python-dotenv
